/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

input#btn_add {
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
}

    input#btn_add:hover {
        background-color: dodgerblue;
    }

.wrapper {
    background: #F0F0F0;
    padding: 0 20px 0 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.side-image {
    background-image: url('../images/logo-motor.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    position: relative;
    height: 30rem;
    max-width: 30rem;
    margin-top: 3rem;
}

.row {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    background: #fff;
    padding: 1rem;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .text p {
        color: #fff;
        font-size: 20px;
    }

i {
    font-weight: 400;
    font-size: 15px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-box {
    width: 400px;
    box-sizing: border-box;
}

img {
    width: 35px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.input-box header {
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

header {
    font-size: 25px;
}

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

.input-box .input-field label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}

.input-field input:focus ~ label {
    top: -10px;
    font-size: 13px;
}

.input-field input:valid ~ label {
    top: -10px;
    font-size: 13px;
    color: #5d5076;
}

.input-field .input:focus, .input-field .input:valid {
    border-bottom: 1px solid #743ae1;
}

.submit {
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
}

    .submit:hover {
        background: rgba(37, 95, 156, 0.937);
        color: #fff;
    }

.signin {
    text-align: center;
    font-size: small;
    margin-top: 25px;
}

span a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}

    span a:hover {
        text-decoration: underline;
        color: #000;
    }

@media only screen and (max-width: 768px) {

    .side-image {
        border-radius: 10px 10px 0 0;
        height: 10rem;
        max-width: 25rem;
        margin-top: 2rem;
    }

    img {
        width: 35px;
        position: absolute;
    }

    .text {
        position: absolute;
        top: 70%;
        text-align: center;
    }

        .text p, i {
            font-size: 16px;
        }

    .row {
        height: 700px;
        max-width: 600px;
        width: 100%;
    }
}

.register_btn {
    background-color: #2C3E50;
    border-radius: 5px;
    height: 50px;
    color: white;
    border: none;
}

    .register_btn:hover {
        background-color: #1b2c3d;
    }

.back-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#btn_back {
    text-decoration: none;
}

    #btn_back i {
        color: #2C3E50;
        font-size: 35px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: ease-in-out;
    }
    /*#2C3E50, #13967d*/

    #btn_back:hover i {
        color: black;
    }
