import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin-left:300px;
}

#form1 {
    width: 80%;
    display: flex;
    flex-direction: row;
}

.first {
    text-align: center;
    
}

.align-date{
    display:flex;
    width:100%;
    justify-content:flex-end;
}

.main-content {
    background: white;
    width: 1000px;
    height: 800px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}